{% extends "base.html" %}
{% block title %}Meus Bookmarks - Usuários{% endblock %}
{% block content %}
  <div class="page-header">
      <h1>Users</h1>
  </div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Permission</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{users.name}}</td>
            <td>{{users.permission }}</td>
            <td>
                <a href="./update/{{users.id}}" class="btn btn-xs btn-primary">Alterar</a>
                <a href= "./delete/{{users.id}}" class="btn btn-xs btn-danger">Excluir</a>
            </td>
          </tr>
      </tbody>
  </table>
{% endblock %}
