{% extends "base.html" %}
{% block title %}Meus Bookmarks - Todos os Usuários{% endblock %}
{% block content %}
  <div class="page-header">
      <h1>Users</h1>
  </div>
  <p>
    <a href="./add" class="btn btn-primary">Novo User</a>
  </p>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Permission</th>
        </tr>
      </thead>
      <tbody>
          {% for user in users %}
          <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.permission }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
