{% extends "base.html" %}
{% block title %}Bookmarks{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Inserir Bookmark</h1>
    </div>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> {{errors}}
        </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="input_name">Nome</label>
            <input type="text" class="form-control" name="nome" id="input_name" value="{{bookmark.name}}" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="imput_url">URL</label>
            <input type="text" class="form-control" name="url" id="imput_url" value="{{bookmark.url}}" placeholder="URL">
        </div>
        <button type="submit" class="btn btn-primary">Inserir</button>
    </form>
{% endblock %}
