{% extends "base.html" %}
{% block title %}Bookmarks{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Bookmarks</h1>
    </div>
    <p>
      <button type="button" class="btn btn-primary">Novo Bookmark</button>
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>URL</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for bookmark in bookmarks %}
          <tr>
            <td>{{bookmark.name}}</td>
            <td>{{bookmark.url}}</td>
            <td>
                <a href="./update/{{bookmark.id}}" class="btn btn-xs btn-primary">Alterar</a>
                <a href= "./delete/{{bookmark.id}}" class="btn btn-xs btn-danger">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}
