{% extends "index.html" %}
{% block title %}Meus Bookmarks{% endblock %}
{% block content %}
<div class="row-fluid">
    <div>   
        {% if errors %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Erros:</span> {{errors}}
        </div>
        {% elif sucesso %}
            <div class="alert alert-success fade in" role="alert">
              <strong>Cadastro realizado com Succeso!</strong> Aproveite e faça seu login agora mesmo.
            </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div>
        <div class="page-header">
            <h4>Cadastre-se  e utilize todo os recursos do nosso sistema</h4>
        </div>
        <p>
            <a href="./cadastro" class="btn btn-primary">Cadastrar-se no Sistema</a>
        </p>
    </div>
</div>    
{% endblock %}